* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
body {
    padding-top: 70px;
}
.navbar {
    background: #D8BFD8;
    padding: 1rem 0;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.navbar .logo {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
}
.navbar .nav-links li {
    margin-left: 20px;
}
.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}
.navbar .nav-links a:hover {
    color: #f664d6;
}

/* banner */
.hero {
    background: url('bg.jpeg') no-repeat center center/cover;
    height: 400px;
    color: #b685b6;
    text-align: right;
    padding: 100px;
}
.hero h1 {
    font-size: 3rem;
}
.hero p {
    font-size: 1.2rem;
    margin: 20px 0;
}
.hero .btn {
    background-color: #D8BFD8;
    color:rgb(220, 91, 156); 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
}
.hero .btn:hover {
    background-color: #D8BFD8;
}

/*Produk*/
.main-content {
    padding: 50px 0;
    background-color: #D8BFD8;
}
.main-content h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}
.feature-box {
    display: flex;
    justify-content: space-around;
}
.feature {
    background-color: rgb(240, 230, 240);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
}
.feature h3 {
    margin-bottom: 15px;
}
.feature p {
    font-size: 1rem;
}
.feature img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

/* Tentang */
.about {
    padding: 50px 0;
    background-color: white;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.1rem;
    margin: 10px 0;
}
/*kontak*/
.contact {
    padding: 50px 0px;
    background: #D8BFD8;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.contact p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.1rem;
}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #a562a5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.contact-form button:hover {
    background: #8d2468;
}

/*footer */
.footer {
    background: #96688d;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.footer .social-links li {
    margin: 0 10px;
}
.footer .social-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;  
}
.footer .social-links a:hover {
    color: #f664d6;
}