body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    width: 30%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgb(0, 0, 0, 0.1);
}

.logo {
    width: 140px;
    height: 130px;
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 10px 0 20px;
    font-size: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;   
}

input[type="username"],
input[type="password"] 
{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #339af0;
}

