/*Mengatur background untuk seluruh halaman */
body {
    background-color: #f0f8ff;
    background-image: url('wisata.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: arial, sans-serif;
    margin: 0;
}

.custom-background {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    text-align: center;
}